branches:
  only:
    - master
language: python
python:
  - 2.7
virtualenv:
  system_site_packages: true
install: 
  - pip install -r requirements.txt --use-mirrors
script:
  - nosetests
notifications:
  email: false
